// {{ ansible_managed }}
{% for zone in bind_zones %}
zone "{{ zone.name }}" {
    type master;
    file "{{ bind_zones_dir }}/{{ zone.name }}.conf";
    dnssec-policy default;
    inline-signing yes;
};

{% endfor %}
