;;; // {{ ansible_managed }}
$TTL 8h
@ IN SOA {{ zone.name }}. hostmaster.{{ hostname }}. (
                          {{ 2024030101 | random }} ; serial number
                          1d         ; refresh period
                          3h         ; retry period
                          3d         ; expire time
                          3h )       ; minimum TTL

@                 IN NS   {{ hostname }}.
;
; Host records
{% for record in zone.records %}
{{ record.name }} IN {{ record.type }} {{ record.priority | default('')}} {{ record.target }}
{% endfor %}
