[Interface]
{% for ip in wireguard_router.ip_addresses %}
Address = {{ ip }}
{% endfor %}
ListenPort = {{ wireguard_router.port }}
PrivateKey = {{ wireguard_router_private_key }}
DNS = {{ wireguard_router.dns_server }}

# Create a nat table
PreUp = if [ "$(nft list tables | grep wg-nat)" != "" ]; then  nft delete table inet wg-nat; fi
PreUp = nft create table inet wg-nat 
PreUp = nft chain inet wg-nat main "{type nat hook postrouting priority 0; }"

# Begin creating the destination tables
{% for table in wireguard_router.tables %}
PreUp = if [ "$(nft list tables | grep {{ table.name }})" != "" ]; then nft delete table inet {{ table.name }}; fi
PreUp = nft create table inet {{ table.name }}
  # Begin create chains in the table {{ table.name }}
{% for chain in table.chains %}
PreUp = nft chain inet  {{ table.name }} {{ chain.name }}
    # Begin destinations rules i the chain {{ chain.name }}
{% for destination in chain.destinations %}
PreUp = nft rule inet {{ table.name }} {{ chain.name }} "oif {{ destination.Interface | default(wireguard_router.lan_interface_name) }} {{ 'ip' if (destination.ip | ansible.utils.ipv4) else 'ip6' }} daddr { {{ destination.ip }} } {{ destination.protocol }} dport { {{ destination.ports | join(',') }} } counter accept"
{% endfor %}
PreUp = nft rule inet {{ table.name }} {{ chain.name }} "oif {{ wireguard_router.lan_interface_name }} drop"
    # End destinations rules in the chain {{ chain.name }}
{% endfor %}
  # End create chains in the table {{ table.name }}
PreUp = nft chain inet {{ table.name }} main "{type filter hook forward priority 0;}"
{% endfor %}
# End creating the destination tables

# Activate nat and masquerade
PostUp = nft rule inet wg-nat main "iif {{ wireguard_router.wg_interface_name }} oif {{ wireguard_router.lan_interface_name }} masquerade"

# Create peer rules
{% for peer in wireguard_router.peers %}
PostUp = nft rule inet {{ peer.table }} main "iif {{ wireguard_router.wg_interface_name }} {{ 'ip' if (peer.ip | ansible.utils.ipv4) else 'ip6' }} saddr { {{ peer.ip }} } counter jump {{ peer.chain }}" # {{ peer.comment }}
{% endfor %}

# Cleanup before shutting down.
PreDown = if [ "$(nft list tables | grep wg-nat)" != "" ]; then nft delete table inet wg-nat; fi
{% for table in wireguard_router.tables %}
PreDown = if [ "$(nft list tables | grep {{ table.name }})" != "" ]; then nft delete table inet {{ table.name }}; fi
{% endfor %}

{% for peer in wireguard_router.peers %}
# {{ peer.comment }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
PersistentKeepalive = 25
{% endfor %}
